:root{
  --blanco: #fff;
  --negro: #000;
  --azul: #1a00ac;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

img{
  max-width: 100%;
}